<?xml version="1.0" encoding="UTF-8"?>
<module name="Checker">
  <module name="TreeWalker">
    <module name="ArrayTypeStyle"/>
    <module name="AvoidStarImport"/>
    <module name="ConstantName"/>
    <module name="EmptyBlock"/>
    <module name="FallThrough"/>
    <module name="FileTabCharacter"/>
    <module name="ImportOrder" />
    <module name="Indentation">
      <property name="caseIndent" value="0" />
      <property name="forceStrictCondition" value="true"/>
      <property name="lineWrapIndentation" value="8" />
    </module>
    <module name="LeftCurly" />
    <module name="LineLength">
      <property name="max" value="120" />
    </module>
    <module name="MissingOverride"/>
    <module name="MissingJavadocMethod"/>
    <module name="NeedBraces"/>
    <module name="OuterTypeFileName" />
    <module name="RightCurly" />
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="TypeName" />
    <module name="VisibilityModifier"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround" />
  </module>
</module>